<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.sns.dao.TestMapper">
	<select id="getTotalBookNum" resultType="Integer">
		select 
			booknum 
		from 
			book 
		where 
	    	authors is not null
	    	and
	    	authors like ' %'
	</select>
	
	<update id="trimAuthorSpace" parameterType="Integer">
		update 
			book
		set 
			authors = substr(authors, 2)
		where 
			booknum = #{ value }
	</update>
</mapper>